body {
    margin: 0;
}


header {
    position: fixed;
    width: 100%;
    height: 10%;
}

nav {
    position: fixed;
}

#h_logo {
    margin-left: 5%;
}

#search {
    width: 30%;
}

.nav-item {
    font-weight: bold;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav-item:active {
    background-color: white;
    color: black;
    text-decoration: underline;
}
