html, body{
    background-color: rgba(33, 37, 41, 0.95);
    color: white;
}
h1, a, .item__overlay p{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
#chatBox {
    position: fixed;
    margin-top: 30%;
    width: 100px;
    height: 100px;
    margin-left: 95%;
    z-index: 9999;
}

#chatBox_btn {
    position: relative;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    background-image: url('../../image/msg.JPG');
    background-repeat: no-repeat;
    background-position:center;
}

#chatBox_btn:hover {
    background-color: aqua;
}

@media only screen and (max-width: 450px) {
    #chatBox {
        position: fixed;
        margin-top: 50%;
        width: 30px;
        height: 30px;
        margin-left: 95%;
        z-index: 9999;
    }
    #chatBox_btn {
        position: relative;
        border-radius: 50%;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-top: 10%;
        background-color: white;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        background-image: url('../image/msg.JPG');
        background-repeat: no-repeat;
        background-position:center;
    }
}
/* WELCOME DASHBOARD */
.dashboard__text p{
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 15% 10% 5%;
    line-height: 2rem;
}
.dashboard__text button{
    margin-left: 30%;
    padding: 3%;
}
.dashboard__text button a{
    text-decoration: none;
    color: white;
}
/* SEASONAL DISHES */
.row {
    position: relative;
}
.list-item img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: all .5s;
}
.list-item img:hover{
    opacity: 1;
}
.item__overlay{
    position: absolute;
    top: 0;
    text-align: center;
}
.item__overlay p{
    transform: translateY(100px);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px;
}
/* HISTORY */
.history{
    margin-bottom: 10vw;
}
.feedback__content .item {
    color: white;
    padding: 1rem;
}
.feedback__top p{
    color: white;
}
.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}

.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    position: absolute;
    top: 100%;
    left: 26%;
}

.feedback__content .feedback__bottom img {
    width: 20vw;
    margin: 0;
    display: inline-block;
}

.feedback__bottom {
    display: flex;
    justify-content: center;

    width: 55%;
    margin: 2rem auto 0;
}

.feedback__name p {
    margin: 0;
    color: white;
}

.feedback__name {
    margin-left: 5px;
}

.feedback__name p:first-child {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f81;
    opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}
/* SUB MENU */
.subMenu{
    margin: 2% 0;
}
.subMenu ul li{
    text-align: center;
    list-style: none;
}
.subMenu ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    padding: 4% 0;
}
