
<!--Footer-->
<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-bottom position-relative">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index" id="h_logo">
            <img src="/image/Capture.PNG" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarFoot">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navBarFoot">
            <ul class="nav nav-pills">
                <li class="nav-item"> <a class="nav-link" href="#">Feedback</a> </li>
                <li class="nav-item"> <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    About Us
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="/ISYS2101-Group15/story/">Story</a></li>
                    <li><a href="/ISYS2101-Group15/provision/">Provision</a></li>
                    <li><a href="/ISYS2101-Group15/design/">Design</a></li>
                  </ul> </li>
                <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
                <li class="nav-item"> <a class="nav-link" href="./privacy.html">Privacy</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
            </ul>         
        </div>       
    </div>
</nav>