#chatBox {
    position: fixed;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    margin-left: 92%;
    z-index: 9999;
    display: none;
}

#chatBox_btn {
    position: relative;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    background-image: url('../image/msg.JPG');
    background-repeat: no-repeat;
    background-position:center;
}

#chatBox_btn:hover {
    background-color: aqua;
}

.btn {
  width: 75%;
}


.btn {
  opacity: 1;
}

#restaurant {
  max-height: 1000px;
}

#form-column {
    display: none;
}

.table-image {
  height: 100px;
}

.table-button:hover {
    background-color: violet;
    border: 2px solid black;
}

@media only screen and (max-width: 1200px) {
    #chatBox {
        display: none;
    }
    .btn {
        width: 75%;
    }
}


